<div class="form-group">
  <label> Title </label>
  <input type="text" ng-model="vis.params.metricTitle" class="form-control"/>
</div>
<div class="form-group">
  <label> Font Size - {{ vis.params.fontSize }} </label>
  <input type="range" ng-model="vis.params.fontSize" class="form-control"/>
</div>
<div class="form-group">
  <label> First Threshold </label>
  <input type="text" ng-model="vis.params.firstThresholdColor" class="form-control"/>
  <input type="number" ng-model="vis.params.firstThresholdValue" class="form-control"/>
</div>
<div class="form-group">
  <label> Between Thresholds </label>
  <input type="text" ng-model="vis.params.betweenTwoThresholdsColor" class="form-control"/>
</div>
<div class="form-group">
  <label> Second Threshold </label>
  <input type="text" ng-model="vis.params.secThresholdColor" class="form-control"/>
  <input type="number" ng-model="vis.params.secThresholdValue" class="form-control"/>
</div>
