<div class="form-group">
    <label> Title </title>
    <input type="text" ng-model="vis.params.metricTitle" class="form-control"/>
</div>
<div class="form-group">
    <label> Font Size </title>
    <input type="range" ng-model="vis.params.fontSize" class="form-control"/>
</div>
<div class="form-group">
    <label> Red Threshold </title>
    <input type="number" ng-model="vis.params.redThreshold" class="form-control"/>
</div>
<div class="form-group">
    <label> Green Threshold </title>
    <input type="number" ng-model="vis.params.greenThreshold" class="form-control"/>
</div>

